.footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--mat-blue);
  color: white;
  padding: 10px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer span {
  font-size: 1rem;
}

@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
  }
  
  .footer span {
    margin-bottom: 5px;
  }
}
